<div class="wrapper">
	<h1 class="title">United States of America</h1>
  <p>
    The United States of America (U.S.A. or USA), commonly known as the United States (U.S. or US) or America,
    is a country primarily located in North America. It consists of 50 states, a federal district, five major
    unincorporated territories, nine Minor Outlying Islands, and 326 Indian reservations. The United States
    is the world's third-largest country by both land and total area. It shares land borders with Canada to its
    north and with Mexico to its south and has maritime borders with the Bahamas, Cuba, Russia, and other nations.
    With a population of over 333 million, it is the most populous country in the Americas and the third most
    populous in the world. The national capital of the United States is Washington, D.C., and its most populous
    city and principal financial center is New York City.
  </p>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active" ariaCurrentWhenActive="page">Crisis Center</a>
    <a routerLink="/superheroes" routerLinkActive="active" ariaCurrentWhenActive="page">Heroes</a>
    <a routerLink="/states" routerLinkActive="active" ariaCurrentWhenActive="page">States</a>
    <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
  </nav>
  <div [@routeAnimation]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
  <router-outlet name="popup"></router-outlet>
</div>
